.DS_Store
Thumbs.db

.idea/
.vscode/
*.iml

.gradle/
.kotlin/

local.properties
**/local.properties

build/
**/build/

.cxx/
**/.cxx/
externalNativeBuild/
**/externalNativeBuild/

captures/
**/captures/

*.log
*.hprof

*.jks
*.keystore
*.p12
*.pem
*.key

# local simulation videos (too large for normal GitHub repo)
android-sdk-v5-sample/src/main/res/raw/sim_*.MP4
android-sdk-v5-sample/src/main/res/raw/sim_*.mp4
